.background {
  background-color: #ededed;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #ededed;
}
.p {
  color:#000000;
}

.box {
  width: 50%;
  background-color: #BDB76B;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 40%;
}
.card {
  margin: 2%;
  background-color: #ededed;
}
#completed-block {
  height: 100%;
  width: 40%;
  border-left: 5px solid #999999;
}
.mainpage {

}
.MenuBar {
  background-color: #BDB76B;
  border-radius: 15px;
}

.menu_icon {
  color: white;
}

#todo-block {
  height: 100%;
  float: left;
  /* background-color: #BDB76B; */
  border-right: 5px solid #999999;


}

#title {
  color: white;
}

ul {
  text-align: left;
}
